html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #090B10;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
    position: relative;
    height: 100%;

}

.container {
    text-align: center;
}

.content {
    display: inline-block;
    text-align: center;
    padding: 2em;
    max-width: 80em;
}

.button {
    padding: .75em;
    border: none;
    background-color: #353b58;
    color: white;
    border-radius: .5em;
    border-bottom: .25em solid #23273b;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #23273b;
    border-bottom: .25em solid #090B10;
    color: white;
}

.info-box {
    position: relative;
    background-color: #0F111A;
    margin: 1em 0 1em 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border: .2em solid #23273b;
    border-radius: .5em;
    box-sizing: border-box;
}

.info-box h1 {
    margin: 0;
}

.info-box .info-header {
    color: white;
}

.info-box .info-stats {
    color: gray;
    padding: 1em;
    display: block;
}

.media video, .media img {
    max-height: 65vh;
    border-radius: .5em;
}